In [174]:
## libraries & dataset
import seaborn as sns
import matplotlib.pyplot as plt
import mplcursors
import csv, pandas as pd
from datetime import datetime, timedelta

In [175]:
filepath = "./aeroplane/aeroplane.csv"
formats = ['%Y-%m-%dT%H:%M:%S', '%m/%d/%Y %H:%M:%S', '%d/%m/%Y %H:%M:%S', '%d/%m/%Y %H:%M', '%d/%m/%Y']
datetimeFormat = formats[4]

In [176]:
def numbersToHour(dateIn):
    x_ = list(dateIn)
#     zero padding
#     print('check --', x_)
    if(x_[0][-2:-1] == ""):
        return("00:0"+x_[0][-1:])
    elif(x_[0][-3:-2] == ""):
        return("00:"+x_[0][-2:])
    elif (x_[0][-4:-3] == ""):
        return("0"+x_[0][-3:-2]+":"+x_[0][-2:])
    else:
        return (x_[0][-4:-2]+":"+x_[0][-2:])

In [187]:
df = pd.DataFrame([], columns=['fl_date','case','origin','dest','dep_time','arr_time'])
europeanAirports = ["EKYT", "EGPD", "LEMD", "LEAL", "EHAM", "LFOA", "LEBL", "LIBD", "EGAA", "LYBE", "ENBR", "EDDB", "EDDT", "EKBI", "EGBB", "ENBO", "LIPE", "LFBD", "UWKG", "UKBB", "EGHH", "EDDW", "EGGD", "EBBR", "EBCI", "LHBP", "LBBG", "LIEE", "EGFF", "LICC", "LFPG", "LIRA", "EDDK", "EKCH", "EPWR", "EICK", "UUDD", "EDLW", "EDDC", "EIDW", "EDDL", "EGNX", "EGPH", "EHEH", "LGAV", "LFSB", "EGTE", "LICJ", "LPFR", "LPPR", "EDDF", "EPGD", "LSGG", "LIMJ", "EGAC", "EGPF", "ESGG", "GCLP", "URMG", "EDDH", "EDDV", "EFHK", "LROP", "LGIR", "LPPT", "LIME", "LPPD", "EDSB", "EPKT", "UWKD", "BIKF", "UKHH", "EPKK", "UWWW", "GCLA", "LPLA", "EGNM", "EDDP", "EETN", "LIRF", "EBLG", "EGGP", "LJLJ", "EGKK", "EGLL", "EGGW", "EGSS", "ESPA", "ELLX", "LFLL", "LZIB", "LEMG", "ESMS", "LIMC", "LMML", "EGCC", "LFML", "LIML", "UMMS", "EPMO", "EDDM", "EDDG", "LIRN", "EGNT", "LFMN", "EGSH", "EDDN", "UKOO", "ENGM", "LEPA", "LFPO", "LIRP", "URRP", "LYPG", "EPPO", "BKPR", "ULLI", "LCRA", "EGVN", "EGVA", "EGUL", "EGUN", "ETAR", "EVRA", "EGCN", "LEST", "LQSA", "EINN", "UUEE", "UKFF", "LWSK", "URSS", "LBSF", "EGHI", "ENZV", "ESSA", "EDDS", "GCXO", "GCTS", "LGTS", "LATI", "LFBO", "LIPH", "ENTC", "ENVA", "LIMF", "UWUU", "LKPR", "LBWN", "LIPZ", "LIPX", "LOWW", "EYVI", "UUWW", "EPWA", "UNKL", "LDZA", "UUBW", "LSZH"]
usTop10 = ["DEN", "DFW", "MCO", "IAD", "IAH", "ORD", "SLC", "JFK", "SFO", "DTW"]
usTop30=["ATL", "DFW", "DEN", "ORD", "LAX", "CLT", "LAS", "PHX", "MCO", "SEA", "MIA", "IAH", "FLL", "SFO", "JFK", "MSP", "EWR", "DTW", "BOS", "SLC", "PHL", "BWI", "TPA", "SAN", "MDW", "IAD", "BNA", "LGA", "DAL", "DCA", "PDX"]
usSel20=["ATL", "DFW", "DEN", "ORD", "LAX", "CLT", "LAS", "PHX", "MCO", "SEA", "MIA", "IAH", "FLL", "SFO", "JFK", "MSP", "EWR", "DTW", "BOS", "SLC", "PHL"]
usSel=["ATL", "DFW", "DEN", "ORD", "LAX", "CLT", "LAS", "PHX", "MCO", "SEA", "MIA", "IAH", "FLL", "SFO", "JFK"]
output_headers = ['case','activity','time']
output = pd.DataFrame([], columns=output_headers)
with open(filepath) as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    header = []
    for row in csv_reader:
        if line_count == 0:
            line_count += 1
            header = row
            #print("Headers: ", row)
        else:
            temp_list = []
            temp__ = pd.DataFrame([row], columns=header)
            if(temp__['origin'].iloc[0] not in (usTop10)):
                continue
            if(temp__['dest'].iloc[0] not in (usSel)):
                continue
            x_ = list(temp__['dep_time'])
            dep_time = numbersToHour(temp__['dep_time'])
            arr_time = numbersToHour(temp__['arr_time'])
            if(dep_time == "24:00"):
                dep_time = "00:00"
            if(arr_time == "24:00"):
                arr_time = "00:00"
            a = datetime.strptime(dep_time,'%H:%M')
            b = datetime.strptime(arr_time,'%H:%M')
#             print(a,b, a>b)
            if(a>b):
                tempX = datetime.strptime(temp__['fl_date'].iloc[0], '%d/%m/%Y')+timedelta(days=1)
#                 print(tempX.strftime('%d/%m/%Y'))
#                 tempX.strftime('%d/%m/%Y')
                day = tempX.strftime('%d/%m/%Y')
            else:
                day = temp__['fl_date'].iloc[0]
            date_origin = datetime.strptime(day+" "+dep_time, '%d/%m/%Y %H:%M').isoformat()
            date_dest = datetime.strptime(day+" "+arr_time, '%d/%m/%Y %H:%M').isoformat()
            
            temp_list.append([temp__['case'].iloc[0],temp__['origin'].iloc[0],date_origin])
            temp_origin = pd.DataFrame(temp_list, columns=output_headers)
            temp_list = []
            temp_list.append([temp__['case'].iloc[0],temp__['dest'].iloc[0],date_dest])
            temp_dest = pd.DataFrame(temp_list, columns=output_headers)
            output=output.append(temp_origin,ignore_index=True)
            output=output.append(temp_dest,ignore_index=True)
            df = df.append(temp__,ignore_index=True)
            line_count += 1
print(df.info())
# df = df.loc[df['origin'].isin(usTop10)]
# df = df.loc[df['dest'].isin(usTop30)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51570 entries, 0 to 51569
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fl_date                51570 non-null  object
 1   case                   51570 non-null  object
 2   origin                 51570 non-null  object
 3   dest                   51570 non-null  object
 4   dep_time               51570 non-null  object
 5   arr_time               51570 non-null  object
 6   op_carrier_airline_id  51570 non-null  object
 7   tail_num               51570 non-null  object
 8   op_carrier_fl_num      51570 non-null  object
dtypes: object(9)
memory usage: 3.5+ MB
None

In [188]:
print(output)

                     case activity                 time
0       19805_N956AN_1587      JFK  2018-08-01T16:49:00
1       19805_N956AN_1587      PHX  2018-08-01T20:06:00
2       19805_N924NN_1594      DTW  2018-08-01T11:51:00
3       19805_N924NN_1594      ORD  2018-08-01T12:24:00
4       19805_N189AN_1610      JFK  2018-08-01T08:01:00
...                   ...      ...                  ...
103135  19930_N624VA_1972      LAX  2018-08-31T11:42:00
103136  19805_N971AN_2357      SLC  2018-08-31T15:27:00
103137  19805_N971AN_2357      DFW  2018-08-31T18:57:00
103138  19805_N831AA_2360      DFW  2018-08-31T19:07:00
103139  19805_N831AA_2360      LAX  2018-08-31T20:09:00

[103140 rows x 3 columns]

In [189]:
##Sorting DataFrame by Case then Time.
output = output.sort_values(['case','time'], ascending=[True, True])

In [190]:
output.to_csv('./aeroplane/aeroplane_output.csv', sep=',', index=False)

In [191]:
output.head(1000).to_csv('./aeroplane/aeroplane_output_sampled2000.csv', sep=',', index=False)